chain/build
chain/node_modules
new-matflo.pem
concrete_chain_laravel.sql
db/*
oldcodes
documents
documents-for db and server configuration
.env.local
build.sh
Dockerfile.local

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/ImportExcelFiles
/public/blog_images/*
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.example
